<template>
<div class="repos" v-if="repos">
    <h3 class="repos-title">Список репозиториев данного пользователя</h3>
    <!-- item -->
    <div class="repos-item" v-for="repo in paginateData" :key="repo.id">
        <div class="repos-info">
            <a class="link" target="_blank" :href="repo.html_url">
                {{ repo.name }}
            </a>
            <span>{{ repo.stargazers_count }}⭐</span>
        </div>
    </div>

    <div class="repos__btn-wrap" v-if="repos.length > 0">
        <button class="btn btnPrimary" :class="{disabled: pageNumber === 0}" :disabled="pageNumber === 0" @click="prevPage()">Prev</button>
        <button class="btn btnPrimary" :class="{disabled: pageNumber >= pageCount-1}" :disabled="pageNumber >= pageCount-1" @click="nextPage()">Next</button>
    </div>

</div>
</template>

<script>
export default {
    props: {
        repos: {
            type: Array,
        },
    },
    data() {
        return {
            pageNumber: 0,
            size: 4,
        }
    },
    methods: {
        prevPage() {
            this.pageNumber--
        },
        nextPage() {
            this.pageNumber++
        }
    },
    computed: {
        pageCount() {
            let length = this.repos.length,
                size = this.size;

            return Math.ceil(length / size);
        },

        paginateData() {
            const start = this.pageNumber * this.size,
                end = start + this.size;

            return this.repos.slice(start, end);
        }
    }
}
</script>

<style lang="scss">
.repos-title {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.repos-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #dbdbdb;
}

.repos {
    &__btn-wrap {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}
</style>
