<template>
<div class="user-wrapper" v-if="user">
    <div class="user-item">
        <img class="user-item__avatar" :src="user.avatar_url" :alt="user.login">
        <div class="user-item__login">
            <span>Login:</span>
            {{ user.login }}
        </div>
        <div class="user-item__followers">
            <span>Followers:</span>
            {{ user.followers }}
        </div>
        <a class="link" target="_blank" :href="user.html_url">Ссылка на репозиторий</a>
    </div>
</div>
</template>

<script>
export default {
    props: {
        user: {
            type: Object,
        },
    },
}
</script>

<style lang="scss">
.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__avatar {
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
        margin: 0 auto 20px auto;
        display: block;
    }

    &__login,
    &__followers {
        margin-bottom: 10px;
    }

    span {
        font-weight: 600;
    }
}
</style>
