<template>
<div class="wrapper-content wrapper-content--fixed">
    <!-- поиск -->
    <div class="search">
        <search :value="search" placeholder="Type user name" @search="search = $event" />

        <button class="btn btnPrimary" :class="{disabled: inputEmpty}" :disabled="inputEmpty" @click="getRepos()">
            Search
        </button>
    </div>

    <!-- вывод ошибки -->
    <p v-if="errorMessage" class="error-message">
        {{ errorMessage }}
    </p>

    <!-- вывод информации о пользователе -->
    <User :user="user"/>

    <!-- вывод списка репозиториев пользователя -->
    <Repository :repos="repos" />

</div>
</template>

<script>
import search from '@/components/Search'
import User from '@/components/User'
import Repository from '@/components/Repository'
import axios from 'axios'

export default {
    components: {
        search, User, Repository
    },
    data() {
        return {
            search: '',
            repos: null,
            errorMessage: null,
            inputEmpty: true,
            user: null
        }
    },
    methods: {
        async getRepos() {

            axios.all([axios.get(`https://api.github.com/users/${this.search}`),
                    axios.get(`https://api.github.com/users/${this.search}/repos`),
                ])
                .then(axios.spread((firstResponse, secondResponse) => {
                    this.errorMessage = ''
                    this.user = firstResponse.data
                    if (secondResponse.data.length !== 0) {
                        this.repos = secondResponse.data
                    }
                }))
                .catch(error => {
                    this.repos = ''
                    this.user = ''
                    this.errorMessage = 'Данного репозитория не существует'
                    console.log(error)
                });

        }
    },
    watch: {
        search(val) {
            val.length === 0 ? this.inputEmpty = true : this.inputEmpty = false
        }
    }
}
</script>

<style lang="scss">
.container {
    display: flex;
    align-items: center;
}

button {
    margin-top: 40px;
}

.repos,
.user-wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.search {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
        margin-top: 30px;
    }

}

.error-message {
    color: #f54029;
    text-align: center;
    margin-top: 30px;
}

.disabled {
    opacity: 0.8;
}
</style>
